@import "../block/mixin";

.intro__works {
  background: url("../Img/coffe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 30px 40px;
}
.intro {
  border: none;

&__section {
  @include metacolors(#fff, #333);
  border-radius: 12px;
  margin: 40px 0;
  padding: 20px 0;
}

&__button {
  display: inline-block;
  background-color: #0e8784;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    background-color: black;
  }
}

&__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

&__content {
  flex: 1;
  width: 500px;
}

&__title {
  @include font__family("Fraunces");
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  @include duocolor(#fefcf7);
}

&__text {
  @include font__family("Barlow");
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  @include duocolor(#fefcf7);
  opacity: 0.8;
  margin-bottom: 32px;
  width: 500px;
}

&__image {
  flex: 1;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
  }
}
}